<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>

    <h1>Checked Out Books</h1>
    <p> <a href="new_book.html" class="button">Create New Book</a></p>
    <p>Filters <a ng-href="#/books">All</a> | <a ng-href="#/books/overdue">Overdue</a> | <a ng-href="#/books/checked_out">Checked Out</a></p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year Released</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in getCheckedOut">
                <td><a ng-href="#/books/{{book._id}}">{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.first_published}}</td>
            </tr>
        </tbody>
    </table>
