<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>


  <h1>Library Manager</h1>
  <p>Welcome to Library Manager</p>
  <ul>
    <li>
      Books
      <ul>
        <li><a href="#/new_book">New Book</a></li>
        <li><a href="#/books">List All</a></li>
        <li><a href="#/overdue_books">List Overdue</a></li>
        <li><a href="#/checked_out_books">List Checked Out</a></li>
      </ul>
    </li>
    <li>Patrons
      <ul>
        <li><a href="#/new_patron">New Patron</a></li>
        <li><a href="#/patrons">List All</a></li>
      </ul>
    </li>
    <li>Loans
      <ul>
        <li><a href="#/new_loan">New Loan</a></li>
        <li><a href="#/loans">List All</a></li>
        <li><a href="#/loans/overdue">List Overdue</a></li>
        <li><a href="#/loans/checked_out">List Checked Out</a></li>
      </ul>
    </li>
  </ul>
