  <h1>Library Manager</h1>
  <p>Welcome to Library Manager</p>
  <ul>
    <li>
      Books
      <ul>
        <li><a ng-href="#/books/new">New Book</a></li>
        <li><a ng-href="#/books">List All</a></li>
        <li><a ng-href="#/books/overdue">List Overdue</a></li>
        <li><a ng-href="#/books/checked_out">List Checked Out</a></li>
      </ul>
    </li>
    <li>Patrons
      <ul>
        <li><a ng-href="#/patrons/new">New Patron</a></li>
        <li><a ng-href="#/patrons">List All</a></li>
      </ul>
    </li>
    <li>Loans
      <ul>
        <li><a ng-href="#/loans/new">New Loan</a></li>
        <li><a ng-href="#/loans">List All</a></li>
        <li><a ng-href="#/loans/overdue">List Overdue</a></li>
        <li><a ng-href="#/loans/checked_out">List Checked Out</a></li>
      </ul>
    </li>
  </ul>
