<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>

    <h1>New Loan</h1>
        <p>
          <label for="book_id">Book: </label>
          <select ng-model="vm.newLoan.book_id" id="book_id">
            <option ng-repeat="book in vm.getAllBooks" value="{{book.id}}">{{book.title}}
            </option>
          </select>
        </p>
        <p>
          <label for="patron_id">Patron: </label>
          <select ng-model="vm.newLoan.patron_id" id="patron_id">
            <option ng-repeat="patron in vm.getAllPatrons" value="{{patron.id}}">{{patron.first_name}} {{patron.last_name}}
            </option>
          </select>
        </p>
        <p><label for="loaned_on">Loaned on: </label><input id="loaned_on" type="text" ng-init="vm.newLoan.loaned_on=vm.todaysDate" ng-model="vm.newLoan.loaned_on"></p>
        <p><label for="return_by">Return by: </label><input id="return_by" type="text" ng-init="vm.newLoan.return_by=vm.returnDate" ng-model="vm.newLoan.return_by"></p>
        <p><a href="" ng-click="vm.createLoan()" class="button">Create Loan</a></p>
        <p ng-if="vm.success">{{vm.success}}</p>
        <div ng-if="vm.failure">
          <p>Creation Failed</p>
          <p ng-repeat="error in vm.errorMessages">{{error.message}}</p>
        </div>
