    <h1>New Patron</h1>
    <form>
        <p> <label for="first_name">First Name</label><input ng-model="patron.first_name" id="first_name" type="text"></p>
        <p> <label for="last_name">Last Name</label><input ng-model="patron.last_name" id="last_name" type="text"></p>
        <p><label for="address"> Address</label><input ng-model="patron.address" id="address" type="text"></p>
        <p><label for="email">Email</label><input ng-model="patron.email" id="email" type="text"></p>
        <p> <label for="library_id">Library ID</label><input ng-model="patron.library_id" id="library_id" type="text"></p>
        <p><label for="zip_code">Zip Code</label><input ng-model="patron.zip_code" id="zip_code" type="text"></p>
        <p><input type="submit" value="Create New Patron" ng-submit="createPatron()"></p>
    </form>
