<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>

    <h1>New Loan</h1>
        <p>
          <label for="book_id">Book: </label>
          <select ng-model="newLoan.book_id" id="book_id">
            <option ng-repeat="book in getAllBooks" value="{{book.id}}">{{book.title}}
            </option>
          </select>
        </p>
        <p>
          <label for="patron_id">Patron: </label>
          <select ng-model="newLoan.patron_id" id="patron_id">
            <option ng-repeat="patron in getAllPatrons" value="{{patron.id}}">{{patron.first_name}} {{patron.last_name}}
            </option>
          </select>
        </p>
        <p>
          <label for="loaned_on">Loaned on: </label><input id="loaned_on" type="text" ng-model="newLoan.loaned_on">
        </p>
        <p>
          <label for="return_by">Return by: </label><input id="return_by" type="text" ng-model="newLoan.return_by">
        </p>
        <p>
          <a href="" ng-click="createLoan()" class="button">Create Loan</a>
        </p>
