<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>

<h1>Overdue Books</h1>
<p> <a ng-href="/#/new_book" class="button" class="button">Create New Book</a></p>
<p>Filters <a ng-href="/#/books">All</a> | <a ng-href="/#/overdue_books">Overdue</a> | <a href="/#/checked_out_books">Checked Out</a></p>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year Released</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat = "loan in vm.overdueBooks">
          <td><a href="#/books/{{loan.book.id}}">{{loan.book.title}}</a></td>
          <td>{{loan.book.author}}</td>
          <td>{{loan.book.genre}}</td>
          <td>{{loan.book.first_published}}</td>
        </tr>
    </tbody>
</table>
