<nav>
  <ul>
    <li><a href="http://localhost:5000/#/">Home</a></li>
    <li><a href="/#/books">Books</a></li>
    <li><a href="/#/patrons">Patrons</a></li>
    <li><a href="/#/loans">Loans</a></li>
  </ul>
</nav>

    <h1>{{vm.loanDetails.patron.first_name}} {{vm.loanDetails.patron.last_name}}: Return Book</h1>
    <p><strong>Book Title: </strong>{{vm.loanDetails.book.title}}</p>
    <p><strong>Loaned By: </strong>{{vm.loanDetails.patron.first_name}} {{vm.loanDetails.patron.last_name}}</p>
    <p><strong>Loaned On: </strong>{{vm.loanDetails.loaned_on}}</p>
    <p><strong>Return By: </strong>{{vm.loanDetails.return_by}}</p>
        <p> <label for="returned_on">Returned on:</label><input id="returned_on" type="text" ng-model="vm.loanDetails.returned_on"></p>
        <p><a class="button" value="Return Book" href="" ng-click="vm.updateLoan()">Return Book</a></p>
        <p ng-if="vm.success">{{vm.success}}</p>
        <div ng-if="vm.failure">
          <p>Creation Failed</p>
          <p ng-repeat="error in vm.errorMessages">{{error.message}}</p>
        </div>
